.status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
.friendList {
  list-style: none;
  margin-top: 100px;
}
.name {
  margin-top: 0;
  margin-left: 25px;
}
.is-online {
  background-color: green;
}

.offline {
  background-color: rgb(163, 23, 23);
}
